{% extends 'base.html.twig' %}

{% block body %}
    <div id="cinema-tracker-root"></div>
{% endblock %}

{% block javascripts %}
    <script src={{ asset('build/app.js') }} type="text/javascript"></script>
{% endblock %}